body {
	background-image: url("https://i.imgur.com/E2oSxQZ.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
}

.logo {
	z-index: -1;
	width: 500px;
	height: auto;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #db1940;
}

.threadtext img {
	width: 20px;
	height: auto;
}